body{
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
table.tbl{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    max-width: 350px;
    height: 400px;
    
}
input[type="button"]{
    color: black;
    cursor: pointer;
    background-color: white;
    font-size: 1.5em;
    border: 3px solid #3efd55;
    border-radius: 100px;
    padding: 10px;
    width: 100%;
    margin: 5px 35px 0px 0px;
}

input[type="text"]{

    color: black;
    
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1.5em;
    width: 90%;
    border-radius: 100px;
    
}
#clear{
    background: #f09099;
    border: 1px solid #ff9fa8;
}
