body{
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
table.tbl{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
}
input[type="button"]{
    color: black;
    cursor: pointer;
    background-color: white;
    font-size: 2em;
    border: 3px solid #3efd55;
    border-radius: 100px;
    padding: 20px ;
    width: 100%;
    margin: 5px 40px 5px 0px;
}

input[type="text"]{

    color: black;
    
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    font-size: 2em;
    width: 88%;
    border-radius: 100px;
    
}
#clear{
    background: #f95e6d;
    border: 1px solid #ff9fa8;
}